<?xml version="1.0"?>

<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">



    <type name="Magento\Framework\View\Element\UiComponent\DataProvider\CollectionFactory">
        <arguments>
            <argument name="collections" xsi:type="array">
                <item name="mycontact_listing_data_source" xsi:type="string">Sigma\Mycontact\Model\ResourceModel\Mycontact\Grid\Collection</item>                
            </argument>
        </arguments>
    </type>

    <type name="Sigma\Mycontact\Model\ResourceModel\Mycontact\Grid\Collection">
        <arguments>
            <argument name="mainTable" xsi:type="string">sigma_mycontacts</argument>
            <argument name="eventPrefix" xsi:type="string">mycontact_grid_collection</argument>
            <argument name="eventObject" xsi:type="string">mycontact_grid_collection</argument>
            <argument name="resourceModel" xsi:type="string">Sigma\Mycontact\Model\ResourceModel\Mycontact</argument>
        </arguments>
    </type>

    <virtualType name="MycontactGridFilterPool" type="Magento\Framework\View\Element\UiComponent\DataProvider\FilterPool">
        <arguments>
            <argument name="appliers" xsi:type="array">
                <item name="regular" xsi:type="object">Magento\Framework\View\Element\UiComponent\DataProvider\RegularFilter</item>
                <item name="fulltext" xsi:type="object">Magento\Framework\View\Element\UiComponent\DataProvider\FulltextFilter</item>
            </argument>
        </arguments>
    </virtualType>
    
    <virtualType name="MycontactGridDataProvider" type="Magento\Framework\View\Element\UiComponent\DataProvider\DataProvider">
        <arguments>
            <argument name="collection" xsi:type="object" shared="false">Sigma\Mycontact\Model\ResourceModel\Mycontact\Collection</argument>
            <argument name="filterPool" xsi:type="object" shared="false">MycontactGridFilterPool</argument>
        </arguments>
    </virtualType>

    
</config>